APP_NAME="Vehicle Registration API"
APP_ENV=local
APP_KEY=b4c1a581d57adc9bb963755e3d6e75cde5eea0e1e118787932a6a8ad0b96be07
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database (PostgreSQL - runs in the "db" Docker service)
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=Vehicle_registration_db
DB_USERNAME=Vehicle_admin
DB_PASSWORD=fe66b3725556da59fc9bce54835870100ea6e1b70dd3bed2ef31c63b721fc4a5

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost, localhost:8000, 127.0.0.1, 127.0.0.1:8000
SESSION_DOMAIN=localhost